AddType video/mp4  .mp4

<IfModule mod_rewrite.c>
    RewriteEngine On

    # bad url
    RewriteRule ^46586683 /marufuku-barbecue-japonais [QSA,L,R=301]

    # If it's a request to index(.html)
    RewriteCond %{REQUEST_URI} (.+/)?index(\.html)  [NC]
    # Remove it.
    RewriteRule ^(.+/)?index(\.html)?$ https://wildtrip.blog/%1 [R=301,L]

    # redirect content with trailing slash (when they are not ending with .html)
    RewriteCond %{REQUEST_URI} !^\/page([0-9]+)\/$
    RewriteCond %{REQUEST_URI} !^\/$
    RewriteCond %{REQUEST_URI} /$
    RewriteCond %{REQUEST_URI} !\.(html|css|js|xml|txt)$
    RewriteRule ^(.*)/$ /$1.html?1 [R=301,NC]

    # redirect content without trailing slash (when they are not ending with .html)
    RewriteCond %{REQUEST_URI} !^\/page([0-9]+)$
    RewriteCond %{REQUEST_URI} !^\/$
    RewriteCond %{REQUEST_URI} !/$
    RewriteCond %{REQUEST_URI} !\.(html|css|js|xml|txt)$
    RewriteRule ^(.*)/?$ /$1.html?2 [R=301,NC]
</IfModule>
