---
layout: default
defaultlocation: "[38, 45]"
---

{% for post in paginator.posts %}

<div class="large-12 columns">
  {% include article-header.html page=post %}
</div>

{% endfor %}

<div class="large-12 columns pagination-centered">
  <ul class="pagination">
    {% if paginator.previous_page %}
      <li class="arrow">
      {% if paginator.previous_page == 1 %}
        <a href="/">&laquo;</a>
      {% else %}
        <a href="/page{{paginator.previous_page}}">&laquo;</a>
      {% endif %}
      </li>
    {% endif %}

    {% if paginator.page == 1 %}
      <li class="current"><a href="/">1</a></li>
    {% else %}
      <li><a href="/">1</a></li>
    {% endif %}

    {% assign page_start = 2 %}
    {% if paginator.page > 5 %}
      {% assign page_start = paginator.page | minus: 2 %}
      <li class="disabled">…</li>
    {% endif %}

    {% assign page_end = paginator.total_pages | minus: 1 %}
    {% assign to_end = paginator.total_pages | minus: paginator.page %}
    {% if to_end > 4 %}
      {% assign page_end = paginator.page | plus: 2 %}
    {% endif %}

    {% for index in (page_start..page_end) %}
      {% if index == paginator.page %}
        <li class="current"><a href="/page{{index}}">{{index}}</a></li>
      {% else %}
        <li><a href="/page{{index}}">{{index}}</a></li>
      {% endif %}
    {% endfor %}

    {% if to_end > 4 %}
      <li class="disabled">…</li>
    {% endif %}

    {% if paginator.page == paginator.total_pages %}
      <li class="current"><a href="/page{{paginator.page}}">{{paginator.page}}</a></li>
    {% else %}
      <li><a href="/page{{paginator.total_pages}}">{{paginator.total_pages}}</a></li>
    {% endif %}

    {% if paginator.next_page %}
      <li class="arrow"><a href="/page{{paginator.next_page}}">&raquo;</a></li>
    {% else %}
      <li class="disabled">&raquo;</li>
    {% endif %}
  </ul>
</div>

<script src="/map.allpoints.js?20150507"></script>
<script type="text/javascript">
  var geoDefaultSetview = {{ page.defaultlocation }};
</script>
