---
permalink: /_redirects
layout: false
eleventyExcludeFromCollections: true
---
https://wildtrip-blog.netlify.com/*   https://wildtrip.blog/:splat      301
https://wildtrip-blog.pages.dev/*     https://wildtrip.blog/:splat      301

/46586683                             /marufuku-barbecue-japonais       301
/*.html                               /:splat/                          301
