---
permalink: /_redirects
layout: false
eleventyExcludeFromCollections: true
---
# redirect for netlify
# https://www.netlify.com/docs/redirects/

# Redirect default Netlify subdomain to primary domain
https://wildtrip-blog.netlify.com/* https://wildtrip.blog/:splat 301!

/46586683                   /marufuku-barbecue-japonais             301!
