/**
 * HEADER
 */

div.header {
  background: #151515;
  border-bottom: 4px solid #009989;
  padding-bottom: 10px;
}

.header h1 a {
  color: white;
}

.header p {
  color: #999;
  font-family: "Droid Sans", "Tahoma", sans-serif;
  font-size: 0.9em;
  text-transform: uppercase;
  letter-spacing: 0;
  margin: 0;
}

.header h1 {
  color: #fff;
  margin-bottom: 0;
  font-family: "Droid Serif", Georgia, Helvetica, Arial, serif;
  font-size: 2em;
  font-weight: normal;
  font-style: italic;
}

/**
 * TOP BAR
 */

.top-bar .name h1 {
  line-height: 20px;
  font-size: 0.85em;
  margin: 0;
}

.top-bar-section {
  /*margin: 22px 0;*/
}

.top-bar-section ul li.active a, .top-bar-section li a:not(.button):hover, .top-bar .name h1 a:hover {
  text-decoration: underline;
}

.top-bar-section ul li > a {
  font-size: 0.85em;
}

.top-bar-section .dropdown li a {
  line-height: 2;
  font-size: 0.8em;
}

.top-bar-section .dropdown label {
  background: none repeat scroll 0 0 #1E1E1E;
  padding: 6px 15px;
}

.top-bar {
  background: #151515;
  margin: 0
}

/**
 * CONTENT
 */

h2, h3 {
  font-weight: lighter;
  font-family: "Droid Serif", Georgia, Helvetica, Arial, serif;
  line-height: 1em;
}

h2 {
  font-size: 45px;
}

h3 {
  font-size: 30px;
}

.content h2 a:hover, .content p a, .sub-nav dd a, .content a {
  color: #F85931;
}

.content h2 a, .content p a:hover, .sub-nav dd a:hover, .content a:hover {
  color: #333;
}

.content {
  margin-top: 1.875em;
}

.sub-nav dt.active span, .sub-nav dd.active span {
  -webkit-border-radius: 1000px;
  border-radius: 1000px;
  font-weight: bold;
  padding: 0.1875em 0.5625em;
  cursor: default;
  color: white;
}

.pagination li.current a, .pagination li.current a:hover, .sub-nav dt.active span, .sub-nav dd.active span {
  background: #F85931
}

ul, ol, dl {
  list-style-position: inside;
}

.clearing-thumbs {
  list-style: none;
}

.clearing-thumbs li {
  float: left;
  margin-right: 10px;
}

.clearing-assembled {
  margin-bottom: 1.25em;
}

video {
  max-width: 100%;
  height: auto;
}

span.alt-flickr {
  font-size: 0.8em
}

p, li {
  color: #595959;
}

blockquote {
  margin: 0.5625em 0 1.25em;
  padding: 0 1.25em 0 1.1875em;
  border-left: 2px solid #ddd;
}

.share-links p {
  margin-bottom: 10px;
}

.share-links li {
  margin-left: 10px;
}

.share-links ul {
  margin-left: -10px;
}

.sub-nav img {
  vertical-align: middle;
}

/**
 * FOOTER
 */

footer {
  background: #151515;
  color: #777;
  padding: 11px 0;
  margin-top: 30px;
  border-top: 10px solid #009989;
}

footer a {
  color: #009989;
}

footer a:hover {
  color: #fff;
}

footer h6 {
  color: #fff;
}

footer p, footer li {
  font-size: 14px;
}

footer li a span, footer li a:hover span {
  color: #777;
}

#map {
  width: 100%;
  height: 350px;
  display: none;
}

#map a.popup, #bigmap a.popup {
  font-size: 1.3em;
}

#bigmap {
  width: 100%;
  height: 600px;
}
