<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="fr" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="fr" > <!--<![endif]-->

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>{% if page.title %} {{ page.title }} | {% endif %}My little world wide tour</title>

  <link rel="stylesheet" href="/css/normalize.css" />
  <link rel="stylesheet" href="/css/foundation.min.css" />
  <link rel="stylesheet" href="/css/fonts.css" />
  <link rel="stylesheet" href="/css/app.css" />

  <link rel="alternate" type="application/rss+xml" href="http://blog.wildtrip.net/rss.xml"/>

  <script src="/js/vendor/custom.modernizr.js"></script>

  <script src="https://api.tiles.mapbox.com/mapbox.js/v1.4.2/mapbox.js"></script>
  <link href="https://api.tiles.mapbox.com/mapbox.js/v1.4.2/mapbox.css" rel="stylesheet" />

  <meta name="description" content="{% if page.title %}{{ page.title }} | {% endif %}My little world wide tour ✌ - Blog de voyages de Jérémy Benoist, notamment en vadrouille dans différents pays (France, Chine, Indonésie, Corée du Sud, Thaïlande, Russie, Ukraine ...)" />
  <meta name="keywords" content="Blog, voyages, voyage, wildtrip, France, Chine, Indonésie, Corée du Sud, Thaïlande, dmz, pekin, beijing, paris, chongqing, kunming, dali, lijiang, shangrila, bangkok, phuket, koh phi phi, koh lanta, seoul, datong, xian, pingyao, ubud, yogyakarta" />
</head>
<body>

  <div class="header">
    <div class="row">
      <div class="large-6 columns">
        <h1>
          <a href="http://blog.wildtrip.net">
            My little world wide tour ✌
          </a>
        </h1>
        <p>En vadrouille en Asie du sud, en Chine, en Russie, ...</p>
      </div>
      <div class="large-6 columns">
        <nav class="top-bar">
          <ul class="title-area show-for-medium-down">
            <li class="name"></li>
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
          </ul>

          <section class="top-bar-section">
            <ul>
              <li><a href="/la-carte-au-tresor">La carte au trésor</a></li>
              <li class="has-dropdown"><a href="#">Par pays</a>
                <ul class="dropdown">
                  <li><label>Asie</label></li>
                  <li><a href="/tag/chine/">Chine</a></li>
                  <li><a href="/tag/hongkong/">Hong Kong</a></li>
                  <li><a href="/tag/coreedusud/">Corée du Sud</a></li>
                  <li><a href="/tag/indonesie/">Indonésie</a></li>
                  <li><a href="/tag/thailande/">Thaïlande</a></li>
                  <li><a href="/tag/malaisie/">Malaisie</a></li>
                  <li class="divider"></li>
                  <li><label>Transsibérien</label></li>
                  <li><a href="#/tag/mongolie/">Mongolie</a></li>
                  <li><a href="#/tag/russie/">Russie</a></li>
                  <li><a href="#/tag/ukraine/">Ukraine</a></li>
                  <li class="divider"></li>
                  <li><label>Europe</label></li>
                  <li><a href="/tag/france/">France</a></li>
                </ul>
              </li>
              <li class="has-form hide-for-small">
                <form target="/search" method="get" id="search">
                  <div class="row collapse">
                    <div class="small-12 columns">
                      <input type="search" id="search-query" name="q" placeholder="Search" autocomplete="off">
                    </div>
                  </div>
                </form>
              </li>
            </ul>
          </section>
        </nav>
      </div>
    </div>
  </div>

  <div class="hide-for-small">
    <div id="map"></div>
  </div>

  <div class="row content">

    <div class="large-12 columns" id="search-results" style="display: none;">
      <h1 class="subheader">Résultats de la recherche</h1>
      <div class="entries"></div>
      <hr/>
    </div>

    {{ content }}

  </div>

  <footer>
    <div class="row">
      <div class="large-4 columns">
        <h6><strong>A propos</strong></h6>
        <p>Faites un tour sur ce post sur le pourquoi du comment :-) <a href="http://blog.wildtrip.net/le-pourquoi-du-comment">http://blog.wildtrip.net/le-pourquoi-du-comment</a></p>
        <p><a href="/contactez-moi">Contactez moi</a></p>
      </div>
      <div class="large-3 columns">
        <h6><strong>Des sites à visiter</strong></h6>
        <ul class="disc">
          <li><a href="http://inbeijing.canalblog.com/">Breakfast in Beijing</a></li>
          <li><a href="http://iceland.wildtrip.net/">Voyage en Islande et au Groenland</a></li>
          <li><a href="http://canaries.wildtrip.net/">Voyage aux Canaries</a></li>
        </ul>
      </div>
      <div class="large-5 columns hide-for-small">
        <h6><strong>Étiquettes populaires</strong></h6>
        <ul class="inline-list">
          {% tag_cloud threshold: 3%}
        </ul>
      </div>
    </div>
  </footer>

  <div id="fb-root"></div>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-345518-8']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

    document.write('<script src=' + ('__proto__' in {} ? '/js/vendor/zepto' : '/js/vendor/jquery') + '.js><\/script>')
  </script>

  <script src="/js/lunr.js"></script>
  <script src="/search.js"></script>
  <script src="/js/app.js"></script>
  <script src="/js/foundation.min.js"></script>
  <script>
    $(document).foundation();
  </script>
</body>
</html>
