<!DOCTYPE html>
<html class="no-js" lang="fr">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% if page.title %} {{ page.title }} – {% endif %}My little world wide tour – Blog de voyage de Jérémy</title>

  {% stylesheet fonts %}
  {% stylesheet app %}

  <link rel="alternate" type="application/rss+xml" href="https://blog.wildtrip.net/rss.xml"/>
  <link rel="shortcut icon" href="https://github.global.ssl.fastly.net/images/icons/emoji/earth_africa.png"/>

  <script async src="https://cdn.jsdelivr.net/modernizr/2.7.2/modernizr.min.js"></script>
  {% javascript lazyload %}

  <script src="https://api.tiles.mapbox.com/mapbox.js/v1.6.5/mapbox.js"></script>
  <link href="https://api.tiles.mapbox.com/mapbox.js/v1.6.5/mapbox.css" rel="stylesheet" />

  <meta name="description" content="{% if page.title %}{{ page.title }} – {% endif %}{% if page.excerpt %}{{ page.excerpt | remove_xml }} – {% endif %}My little world wide tour ✌" />

  <meta property="og:title" content="{% if page.title %}{{ page.title }} – {% endif %}My little world wide tour" />
  <meta property="og:locale" content="fr_FR" />
  <meta property="og:description" content="{% if page.title %}{{ page.title }} – {% endif %}{% if page.excerpt %}{{ page.excerpt | remove_xml }} – {% endif %}My little world wide tour ✌" />
  <meta property="og:image" content="{% if page.excerpt_image %}{{ page.excerpt_image }}{% endif %}" />
  <meta property="og:site_name" content="My little world wide tour" />
  <meta property="og:type" content="{% if page.title %}article{% else %}website{% endif %}" />

  {% if page.date %}
    <meta property="og:url" content="{{ site.prod_url }}{{ page.url }}/" />
  {% else %}
    <meta property="og:url" content="{{ site.prod_url }}{{ page.url }}" />
  {% endif %}

  {% if page.title %}

    <meta property="article:author" content="https://www.facebook.com/jeremy.benoist" />

    {% if page.tags %}
      <meta property="article:section" content="{% if page.tags != empty %}{{ page.tags[0] }}{% endif %}" />

      {% for tag in page.tags %}
      <meta property="article:tag" content="{{ tag }}" />
      {% endfor %}
    {% endif %}

    {% if page.date %}
      <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}" />
    {% endif %}
  {% endif %}
</head>
<body itemscope itemtype="http://schema.org/WebPage">

  <div class="header">
    <div class="row">
      <div class="large-6 columns">
        <h1>
          <a href="/">
            My little world wide tour ✌
          </a>
        </h1>
        <p>En vadrouille en Asie du sud, en Chine, en Russie et ailleurs dans le monde :)</p>
      </div>
      <div class="large-6 columns">
        <nav class="top-bar" data-topbar>
          <ul class="title-area show-for-medium-down">
            <li class="name"></li>
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
          </ul>

          <section class="top-bar-section">
            <ul>
              <li><a href="/la-carte-au-tresor">La carte au trésor</a></li>
              <li class="has-dropdown"><a href="#">Par pays</a>
                <ul class="dropdown">
                  <li class="has-dropdown"><a href="#">Asie</a>
                    <ul class="dropdown">
                      <li><a href="/tag/chine/">Chine</a></li>
                      <li><a href="/tag/hongkong/">Hong Kong</a></li>
                      <li><a href="/tag/coreedusud/">Corée du Sud</a></li>
                      <li><a href="/tag/indonesie/">Indonésie</a></li>
                      <li><a href="/tag/thailande/">Thaïlande</a></li>
                      <li><a href="/tag/malaisie/">Malaisie</a></li>
                      <li><a href="/tag/srilanka/">Sri Lanka</a></li>
                    </ul>
                  </li>
                  <li class="has-dropdown"><a href="#">Transsibérien</a>
                    <ul class="dropdown">
                      <li><a href="/tag/mongolie/">Mongolie</a></li>
                      <li><a href="/tag/russie/">Russie</a></li>
                      <li><a href="/tag/ukraine/">Ukraine</a></li>
                    </ul>
                  </li>
                  <li class="has-dropdown"><a href="#">Europe</a>
                    <ul class="dropdown">
                      <li><a href="/tag/france/">France</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li class="has-form hide-for-small">
                <div class="row collapse">
                  <div class="small-12 columns">
                    <input type="search" id="search-query" name="q" placeholder="Search" autocomplete="off">
                  </div>
                </div>
              </li>
            </ul>
          </section>
        </nav>
      </div>
    </div>
  </div>

  <div class="hide-for-small">
    <div id="map"></div>
  </div>

  <div class="row content">

    <div class="large-12 columns" id="search-results" style="display: none;">
      <h1 class="subheader">Résultats de la recherche</h1>
      <div class="entries"></div>
      <hr/>
    </div>

    {{ content }}

  </div>

  <footer>
    <div class="row">
      <div class="large-4 columns">
        <h6><strong>Vous pouvez me contacter :)</strong></h6>
        <p>
          Via <a href="https://twitter.com/j0k">Twitter</a>,
          <a href="https://www.facebook.com/jeremy.benoist">Facebook</a> ou par
          <a href="mailto:&#106;&#101;&#114;&#101;&#109;&#121;&#046;&#098;&#101;&#110;&#111;&#105;&#115;&#116;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;">mail</a>.
        </p>
        <h6><strong>Recevez les articles par e-mail</strong></h6>
        <p>Vous recevrez quotidiennement les nouveaux articles.</p>
        <form action="https://feedpress.it/e/mailverify" method="post" target="popupwindow" onsubmit="window.open('https://feedpress.it/e/mailverify?feed_id=blogwildtrip', 'popupwindow', 'scrollbars=yes,width=550,height=400');return true">
          <div class="row">
            <div class="large-12 columns">
              <div class="row collapse">
                <div class="small-8 columns">
                  <input type="text" name="email" title="E-mail" placeholder="E-mail">
                </div>
                <div class="small-4 columns">
                  <input type="hidden" value="blogwildtrip" name="feed_id"/>
                  <button type="submit" class="button postfix success">S'abonner</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="large-3 columns">
        <h6><strong>D'autres sites à visiter</strong></h6>
        <ul class="disc">
          <li><a href="http://inbeijing.canalblog.com/">Breakfast in Beijing</a></li>
          <li><a href="http://iceland.wildtrip.net/">Voyage en Islande et au Groenland</a></li>
          <li><a href="http://canaries.wildtrip.net/">Voyage aux Canaries</a></li>
        </ul>
      </div>
      <div class="large-5 columns hide-for-small">
        <h6><strong>Étiquettes populaires</strong></h6>
        <ul class="inline-list">
          {% tag_cloud threshold: 3%}
        </ul>
      </div>
    </div>
  </footer>

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-345518-8']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script async src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.jquery.min.js"></script>

  {% javascript app %}
  <script>
    $(document).foundation();
  </script>
</body>
</html>
