---
layout: default
---

<div class="large-12 columns">
  {% include article-header.html page=page %}

  {{ content }}
</div>

<hr class="hide-for-small" />

<div class="hide-for-small large-12 columns">
  <p class="edit">Si vous voulez signaler une erreur ou proposer une modification de ce texte, n'hésitez pas à l'éditer directement à <a href="https://github.com/j0k3r/wildtrip-blog/blob/blog/{{ page.path }}">la source sur Github</a>.</p>

  <h3>À découvrir aussi</h3>
  {% for post in site.related_posts limit:5 %}
    {% if post.id != page.id %}
      <article>
        <h4>
          <small>{{ post.date | localize: "%d/%m/%Y" | downcase }} »</small>
          <a href="{{ post.url }}">{{ post.title }}</a>
        </h4>
      </article>
    {% endif %}
  {% endfor %}
</div>

{% if page.location %}
<script type="text/javascript">
var geoSetview = {{ page.location }};

{% if page.location_zoom %}
var geoSetzoom = {{ page.location_zoom }};
{% endif %}

var geoJson =
[{
    "type": "Feature",
    "geometry": {
        "type": "Point",
        "coordinates": {{ page.location }}
    },
    "properties": {
        "marker-color": "#f1762d",
        "marker-symbol": "star",
        "url": "{{ page.url }}",
        "title": "{{ page.title | remove:'"' }}"
    }
}];
</script>
{% endif %}
