---
layout: default
---

<div class="large-12 columns">
  <h2><a href="{{ page.url }}">{{ page.title }}</a></h2>

  <dl class="sub-nav">
    <dd class="active"><span>
    {% if page.date_travel %}
      <img src="/img/pencil2.png" width="16" height="16" title="Écrit le" /> {{ page.date | localize: "%d %B %Y" }} - <img src="/img/airplane.png" width="16" height="16" title="Voyagé le" /> {{ page.date_travel | localize: "%d %B %Y" }}
    {% else %}
      <img src="/img/pencil2.png" width="16" height="16" title="Écrit le" /> <img src="/img/airplane.png" width="16" height="16" title="Voyagé le" /> {{ page.date | localize: "%d %B %Y" }}
    {% endif %}
    </span></dd>
    {% if page.tags != empty %}
      {% for tag in page.tags %}
        <dd class="hide-for-small"><a href="/tag/{{ tag | replace:' ','' }}">{{ tag }}</a></dd>
      {% endfor %}
    {% endif %}
  </dl>

  {% if page.excerpt %}
    {{ page.excerpt }}
  {% endif %}

  {% if page.excerpt_image %}
    <p style="text-align: center;">
      <img class="th" src="{{ page.excerpt_image }}" />
    </p>
  {% endif %}

  {{ content }}
</div>

<hr/>

<div class="hide-for-small large-12 columns share-links">
  <p><i>Vous avez aimé cet article ? Alors partagez-le avec vos amis en cliquant sur les boutons ci-dessous :</i></p>
  <ul class="inline-list">
    <li><a target="_blank" title="Twitter" href="https://twitter.com/share?url={{ site.prod_url }}{{ page.url }}&text={{ page.title }}&via=j0k" rel="nofollow" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=400,width=700');return false;"><img src="/img/twitter_icon.png" alt="Twitter" /></a></li>
    <li><a target="_blank" title="Facebook" href="https://www.facebook.com/sharer.php?u={{ site.prod_url }}{{ page.url }}&t={{ page.title }}" rel="nofollow" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=500,width=700');return false;"><img src="/img/facebook_icon.png" alt="Facebook" /></a></li>
    <li><a target="_blank" title="Google +" href="https://plus.google.com/share?url={{ site.prod_url }}{{ page.url }}&hl=fr" rel="nofollow" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=450,width=650');return false;"><img src="/img/gplus_icon.png" alt="Google Plus" /></a></li>
    <li><a target="_blank" title="Envoyer par mail" href="mailto:?subject={{ page.title }}&body={{ site.prod_url }}{{ page.url }}" rel="nofollow"><img src="/img/email_icon.png" alt="email" /></a></li>
  </ul>
</div>

<div class="hide-for-small large-12 columns">
  <div id="disqus_thread"></div>
  <script type="text/javascript">
      var disqus_shortname = 'blogwildtrip';

      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>

{% if page.location %}
<script type="text/javascript">
var geoSetview = {{ page.location }}.reverse();

{% if page.location_zoom %}
var geoSetzoom = {{ page.location_zoom }};
{% endif %}

var geoJson =
[{
    "type": "Feature",
    "geometry": {
        "type": "Point",
        "coordinates": {{ page.location }}
    },
    "properties": {
        "marker-color": "#f1762d",
        "marker-symbol": "star",
        "url": "{{ page.url }}",
        "title": "{{ page.title | remove:'"' }}"
    }
}];
</script>
{% endif %}
