---
layout: default
---
<h1 class="subheader">{{page.title}}</h1>
<hr/>

{% for post in site.posts %}{% for tag in post.tags %}{% if tag == page.tag %}

  <div class="large-12 columns">
    {% include article-header.html page=post %}
  </div>

  <hr/>
{% endif %}{% endfor %}{% endfor %}

<script src="/map.allpoints.js"></script>

<script type="text/javascript">
  {% if page.location['points'] %}
  var geoTagSetview = {{ page.location.['points'] }}.reverse();
  {% endif %}

  {% if page.location.['zoom'] %}
  var geoSetzoom = {{ page.location.['zoom'] }};
  {% endif %}
</script>

