<!DOCTYPE html>
<html class="no-js" lang="fr">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% if title %}{{ title }} – {% endif %}My little world wide tour – Blog de voyage de Jérémy</title>

  {%- css %}{% include "public/css/normalize.css" %}{% endcss %}
  {%- css %}{% include "public/css/foundation.css" %}{% endcss %}
  {%- css %}{% include "public/css/app.css" %}{% endcss %}

  <link rel="stylesheet" href="{% getBundleFileUrl "css" %}">

  <link rel="alternate" type="application/rss+xml" href="/rss.xml"/>
  <link rel="shortcut icon" href="/favicon.png"/>

  {%- js "top" %}{% include "public/js/lazyload.js" %}{% endjs %}

  <script src="{% getBundleFileUrl "js", "top" %}"></script>

  {%- js %}{% include "public/js/fastclick.js" %}{% endjs %}
  {%- js %}{% include "public/js/foundation.js" %}{% endjs %}
  {%- js %}{% include "public/js/foundation.clearing.js" %}{% endjs %}
  {%- js %}{% include "public/js/foundation.orbit.js" %}{% endjs %}
  {%- js %}{% include "public/js/foundation.topbar.js" %}{% endjs %}
  {%- js %}{% include "public/js/app.js" %}{% endjs %}

  <link href="https://api.mapbox.com/mapbox.js/v3.3.0/mapbox.css" rel="stylesheet" />

  <meta name="description" content="{% if excerpt %}{{ excerpt | safe | striptags() }}{% else %}{{ title }}{% endif %}" />

  <meta property="og:title" content="{% if title %}{{ title }} – {% endif %}My little world wide tour" />
  <meta property="og:locale" content="fr_FR" />
  <meta property="og:description" content="{% if excerpt %}{{ excerpt | safe | striptags() }}{% else %}{{ title }}{% endif %}" />
  <meta property="og:url" content="{{ metadata.url }}{{ page.url }}" />

  {% if excerpt_image %}<meta property="og:image" content="{{ excerpt_image }}" />{% endif %}

  <meta property="og:site_name" content="My little world wide tour" />
  <meta property="og:type" content="{% if title %}article{% else %}website{% endif %}" />

  <meta name="twitter:widgets:csp" content="on" />
  <meta name="twitter:dnt" content="on" />

  {% if title -%}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@j0k">
    <meta name="twitter:creator" content="@j0k">
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:description" content="{% if excerpt %}{{ excerpt | safe | striptags() }}{% else %}{{ title }}{% endif %}">
    <meta name="twitter:image" content="{% if excerpt_image %}{{ excerpt_image }}{% endif %}">

    {% if tags -%}
      <meta property="article:section" content="{% if tags != empty %}{{ tags | filterTagList | first }}{% endif %}" />

      {% for tag in tags | filterTagList -%}
      <meta property="article:tag" content="{{ tag }}" />
      {% endfor %}
    {% endif -%}

    {% if date -%}
      <meta property="article:published_time" content="{{ date | utcDate }}" />
    {% endif %}
  {% endif -%}

  <meta name="generator" content="{{ eleventy.generator }}">
</head>
<body itemscope itemtype="http://schema.org/WebPage">

  <div class="header">
    <div class="row">
      <div class="large-6 columns">
        <h1>
          <a href="/">
            wildtrip.blog
          </a>
        </h1>
        <p class="hide-for-small">En vadrouille en Asie du sud, en Chine, en Russie et ailleurs dans le monde</p>
      </div>
      <div class="large-6 columns">
        <nav class="top-bar" data-topbar>
          <ul class="title-area show-for-medium-down">
            <li class="name"></li>
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
          </ul>

          <section class="top-bar-section">
            <ul>
              <li><a href="/la-carte-au-tresor/">La carte au trésor</a></li>
              <li class="has-dropdown"><a href="#">Par pays</a>
                <ul class="dropdown">
                  <li class="has-dropdown"><a href="#">Asie</a>
                    <ul class="dropdown">
                      <li><a href="/tag/chine/">Chine</a></li>
                      <li><a href="/tag/coreedusud/">Corée du Sud</a></li>
                      <li><a href="/tag/hongkong/">Hong Kong</a></li>
                      <li><a href="/tag/indonesie/">Indonésie</a></li>
                      <li><a href="/tag/malaisie/">Malaisie</a></li>
                      <li><a href="/tag/srilanka/">Sri Lanka</a></li>
                      <li><a href="/tag/thailande/">Thaïlande</a></li>
                    </ul>
                  </li>
                  <li class="has-dropdown"><a href="#">Transsibérien</a>
                    <ul class="dropdown">
                      <li><a href="/tag/mongolie/">Mongolie</a></li>
                      <li><a href="/tag/russie/">Russie</a></li>
                      <li><a href="/tag/ukraine/">Ukraine</a></li>
                    </ul>
                  </li>
                  <li class="has-dropdown"><a href="#">Europe</a>
                    <ul class="dropdown">
                      <li><a href="/tag/france/">France</a></li>
                      <li><a href="/tag/sicile/">Sicile</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li class="has-form hide-for-small">
                <div class="row collapse">
                  <div class="small-12 columns">
                    <input type="search" id="search-query" name="q" placeholder="Search" autocomplete="off">
                  </div>
                </div>
              </li>
            </ul>
          </section>
        </nav>
      </div>
    </div>
  </div>

  <div class="hide-for-small">
    <div id="map"></div>
  </div>

  <div class="row content">
    <div class="large-12 columns" id="search-results" style="display: none;">
      <h1 class="subheader">Résultats de la recherche</h1>
      <div class="entries"></div>
      <hr/>
    </div>

    {{ content | safe }}
  </div>

  <footer>
    <div class="row">
      <div class="large-4 columns">
        <h6>Vous pouvez me contacter</h6>
        <p>
          Via <a rel="me" href="https://mamot.fr/@j0k">Mastodon</a> ou par
          <a href="mailto:&#106;&#101;&#114;&#101;&#109;&#121;&#046;&#098;&#101;&#110;&#111;&#105;&#115;&#116;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;">mail</a>.
        </p>
      </div>
      <div class="large-3 columns hide-for-small">
        <h6>D'autres sites à visiter</h6>
        <ul class="disc">
          <li><a href="http://inbeijing.canalblog.com/">Breakfast in Beijing</a></li>
          <li><a href="http://iceland.wildtrip.net/">Voyage en Islande et au Groenland</a></li>
          <li><a href="http://canaries.wildtrip.net/">Voyage aux Canaries</a></li>
        </ul>
      </div>
      <div class="large-5 columns hide-for-small">
        <h6>Tags populaires</h6>
        <ul class="inline-list">
          {% for data in collections.tagsList -%}
          <li><a href="/tag/{{ data.tagName | replace(" ", "") | slugify }}/">{{ data.tagName }} <span>({{ data.tagCount }})</span></a></li>
          {% endfor -%}
        </ul>
      </div>
    </div>
  </footer>

  <script src="https://api.mapbox.com/mapbox.js/v3.3.0/mapbox.js"></script>
  <script src="https://cdn.jsdelivr.net/modernizr/2.7.2/modernizr.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script async src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.jquery.min.js"></script>
  <script src="{% getBundleFileUrl "js" %}"></script>

  <script>
    $(document).foundation();
  </script>
  <!-- This page `{{ page.url }}` was built on {% currentBuildDate %} -->
</body>
</html>
